* {
    margin: 0px;
    padding: 0px;
}

:root {
    --corfundo: #070440;
    --corfundo2:#160DBF;
    --cortexto: white;
}

body {
    background-color: var(--corfundo);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cortexto);
}
header {
    text-align: center;
    margin: auto;
    padding: 30px;
    background-image: linear-gradient(to top, var(--corfundo), var(--corfundo2));
}

header h1 {
    margin: auto;
    font-size: 2.5em;
    padding: 10px;
    
}

header img {
    border-radius: 50%;
    box-shadow: 1px 5px 50px rgba(0, 0, 0, 0.452);
}

nav {
    background-color: var(--corfundo);
    padding: 10px;
    box-shadow: 0px 45px 45px rgba(0, 0, 0, 0.385);
    text-align: center;
}

.dropdown-menu a {
    background-color: transparent;
}

#meusprojetos {
    color: blue;
    border: none;
}

section {
    padding: 20px;
}

div#minhasinfos {
    padding: 10px;
}

div#minhasinfos p{
    padding: 10px;
    text-indent: 30px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    padding-left: 5px;
    transition-duration: 0.1s;
}

nav a:hover {
    text-decoration: underline;
    background-color: rgb(223, 214, 214);
    border-radius: 10px;
    padding: 5px;
    color: black;
}

footer {
    padding: 10px;
    font-weight: bolder;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.425);
}